##### SYSTEM

# Uncomment below for MacOS host
#PUID=501
#PGID=20
# Uncomment below for linux host
#PUID=1000
#PGID=1000

TZ=Australia/Sydney
SHD_DIR_APPDATA=/home/myuser/shd-appdata
SHD_DIR_LOGS=/home/myuser/shd-logs
SHD_DIR_SECRETS=/home/myuser/smart-home-docker/secrets
SERVER_IP=
PIHOLE_IP=
LOCAL_NETWORK=
LOCAL_IPS=127.0.0.1/32,10.0.0.0/8,192.168.0.0/16,172.16.0.0/12
PORT_HTTP=80
PORT_HTTPS=443
PORT_TRAEFIK_DASHBOARD=8080
PORT_TRAEFIK_PING=8081

##### DOMAIN

DOMAINNAME=
CLOUDFLARE_EMAIL=
CLOUDFLARE_API_KEY=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ZONEID=
DUCKDNS_TOKEN=
CLOUDFLARE_IPS=173.245.48.0/20,103.21.244.0/22,103.22.200.0/22,103.31.4.0/22,141.101.64.0/18,108.162.192.0/18,190.93.240.0/20,188.114.96.0/20,197.234.240.0/22,198.41.128.0/17,162.158.0.0/15,104.16.0.0/13,104.24.0.0/14,172.64.0.0/13,131.0.72.0/22

##### Container versions
AUTHELIA_VERSION=4.37.5
MOSQUITTO_VERSION=1.6
HOME_ASSISTANT_VERSION=2024.4
NODE_RED_VERSION=3.1
TRAEFIK_VERSION=2.10
ZWAVE_JS_UI_VERSION=9

##### ZWAVE JS UI Configuration
ZWAVE_JS_UI_DEVICE_PATH=
ZWAVE_JS_UI_SESSION_SECRET=
